<!-- productos/templates/productos/registration/profile_edit.html -->
{% extends "productos/base.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body" style="background-color: #2a475e;">
                    <h2 style="color: white;">Editar Perfil</h2>
                    <hr>

                    <form method="post" style="color: white;">
                        {% csrf_token %}

                        <h4>Información del Usuario</h4>
                        {{ user_form.as_p }}


                        {{ profile_form.as_p }}

                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}