{% extends "productos/base.html" %}
{% load static %}
{% block title %}{{ producto.nombre }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" class="img-fluid"
                style="border-radius: 8px; width: 100%; max-width: 400px;">
            {% endif %}
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 style="color: white;">{{ producto.nombre }}</h1>
            <p style="color: white;">{{ producto.descripcion }}</p>
            <h3 style="color: white;">${{ producto.precio }}</h3>
            <div>
                <button type="button" class="btn btn-primary add-to-cart"
                    data-product-id="{{ producto.id }}"
                    data-product-name="{{ producto.nombre }}" 
                    data-product-price="{{ producto.precio }}"
                    data-product-stock="{{ producto.stock }}">
                    <i class="fas fa-shopping-cart"></i> Añadir al carrito
                </button>
            </div>
        </div>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    {{ form }}  <!-- Esto renderiza el formulario completo -->
    <button type="submit" class="btn btn-primary" style="position: relative; top: 60px; left: 770px;">Agregar Comentario</button>
</form>

<!-- <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_comentario">Escribe tu comentario:</label>
      {{ form }}
    </div>
    <button type="submit">Agregar Comentario</button>
  </form> -->

  <h3 style="color: white; position: relative; top: 82px; left: 329px;">Comentarios</h3>
  <div class="comentarios">
    
      {% if resenas %}
          {% for resena in resenas %}
              <div class="comentario" >
                  <strong style="color: white;position: relative; top: 89px; margin-left: 330px;">{{ resena.usuario.username }}</strong>
                  <p style="color: white;position: relative; top: 89px; margin-left: 330px;">{{ resena.comentario }}</p>
                  <span class="fecha" style="color: white;position: relative; top: 89px; margin-left: 330px;">{{ resena.fecha_creacion }}</span>
                  {% if request.user == resena.usuario %}
                  <button style="background-color: #4CAF50; color: white; padding: 8px 13px; font-size: 16px; border: none; border-radius: 8px; cursor: pointer;">
                    <a href="{% url 'editar_comentario' resena.id producto.id %}" style="color: #ffffff;">Editar</a>
                  </button>
                  {% endif %}
                  {% if request.user == resena.usuario or request.user.is_superuser %}
                  <button style="background-color: #ff1e00; color: white; padding: 8px 13px; font-size: 16px; border: none; border-radius: 8px; cursor: pointer;">
                      <a href="{% url 'eliminar_comentario' resena.id producto.id %}" style="color: #ffffff;">Eliminar</a>
                  </button>
                  {% endif %}
              </div>
          {% endfor %}
      {% else %}
          <p style="color: white; position: relative; top: 89px; left: 330px;">No hay comentarios aún.</p>
      {% endif %}
  </div>




  <!-- <a href="{% url 'detalle_producto' producto.id %}">Volver al producto</a> -->


<div id="cart-container"
    style="display: none; position: fixed; top: 10px; right: 10px; background: white; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
    <h4>Carrito</h4>
    <ul id="cart-items"></ul>
    <p id="cart-total">Total: $0</p>
    <a href="{% url 'detalle_compra' %}"><button id="checkout" class="btn btn-success">Proceder al Pago</button></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'productos/carrito.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        window.eliminarComentario = function(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción no se puede deshacer",
                icon: "question",
                showCancelButton: true,
                cancelButtonText: "No, Cancelar",
                confirmButtonText: "Sí, Eliminar",
                reverseButtons: true,
                confirmButtonColor: "#dc3545"
            })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-comentario/" + id + "/";
                }
            });
        }
    });
</script>

{% endblock %}